header {
  align-items: flex-end;
  background: $gradient;
  color: $white;
  display: flex;
  height: 65px;
  padding: 10px 15px;

  h1 {
    font-size: 16px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    text-transform: uppercase;
  }
}

.menu-icon {
  cursor: pointer;
  fill: $white;
}
